target/
__pycache__/
*.pyc
*.so
*.egg-info/
Cargo.lock
!src/kernel/ebpf_monitor/Cargo.lock
!src/kernel/entropic_memory/Cargo.lock
!src/kernel/expectation_rs/Cargo.lock
!src/kernel/freud10d/Cargo.lock
!src/kernel/kernel_compute/Cargo.lock
!src/kernel/langue/Cargo.lock
!src/kernel/layered_transition/engine/Cargo.lock
!src/kernel/memory_tier_guardian/Cargo.lock
!src/kernel/metrics/Cargo.lock
!src/kernel/nsh/Cargo.lock
!src/kernel/somatic_daemon/Cargo.lock
!src/kernel/sovereign_daemon/Cargo.lock
